@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container mt-4">
    <h2 class="margin-bottom=3px;">Kategori Güncelleme Sayfası</h2>
    @using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
    {
        <div class="form-group">
            <div class="container mb-3">
                @Html.Label("Kategori ID")
                @Html.TextBoxFor(x => x.CategoryID, new { @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="container mb-3">
                @Html.Label("Kategori Adı")
                @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
            </div>
            <div class="container mb-3">
                @Html.Label("Kategori Adı")
                @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
            </div>
            <div class="container mb-3">
                <button class="btn btn-outline-secondary mt-1 shadow-sm">
                    <i class="bi bi-save"></i> Kaydet
                </button>
            </div>
        </div>
    }

</div>
