@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Heading>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{ string color = "";}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Başlıklar Listesi</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">


                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                Başlık Adı
                            </th>
                            <th style="width: 20%">
                                Oluşturan Yazar
                            </th>
                            <th style="width: 10%">
                                Durum
                            </th>
                            <th style="width: 8%" class="text-center">
                                Kategori
                            </th>
                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var irem in Model)
                        {
                            if (@irem.Category.CategoryName == "Tiyatro")
                            {
                                color = "badge badge-warning";
                            }
                            if (@irem.Category.CategoryName == "Spor")
                            {
                                color = "badge badge-success";
                            }
                            if (@irem.Category.CategoryName == "Kitap")
                            {
                                color = "badge badge-danger";
                            }
                            if (@irem.Category.CategoryName == "Eğitim")
                            {
                                color = "badge badge-secondary";
                            }
                            if (@irem.Category.CategoryName == "Film")
                            {
                                color = "badge badge-info";
                            }
                            if (@irem.Category.CategoryName == "Dizi")
                            {
                                color = "badge badge-primary";
                            }
                            if (@irem.Category.CategoryName == "Sosyal")
                            {
                                color = "badge badge-danger";
                            }

                            string badgeStatusClass = irem.HeadingStatus ? "badge badge-success" : "badge badge-danger";
                            string statusText = irem.HeadingStatus ? "Aktif" : "Pasif";
                            string buttonText = irem.HeadingStatus ? "Pasif Yap" : "Aktif Yap";
                            string buttonColor = irem.HeadingStatus ? "btn btn-danger btn-sm" : "btn btn-success btn-sm";


                            <tr>
                                <td>
                                    #@irem.HeadingID
                                </td>
                                <td>
                                    <a>
                                        @irem.HeadingName
                                    </a>
                                    <br />
                                    <small>
                                        @(((DateTime)irem.HeadingTime).ToString("dd-MMM-yyyy"))
                                    </small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img style="text-align:center;" alt="Avatar" class="table-avatar" src="@irem.Writer.WriterImage">
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <span class="@badgeStatusClass">@statusText</span>
                                </td>
                                <td class="project-state">
                                    <span class="@color">@irem.Category.CategoryName</span>
                                </td>
                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Content/ContentByHeading/@irem.HeadingID">
                                        <i class="fas fa-folder">
                                        </i>
                                        Yazılar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Heading/EditHeading/@irem.HeadingID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Düzenle
                                    </a>
                                    <a class="@buttonColor" href="/Heading/DeleteHeading/@irem.HeadingID">
                                        <i class="fas fa-trash">
                                        </i>
                                        @buttonText
                                    </a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </section>
    <div class="d-flex justify-content-between align-items-center p-2">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
        {
            LiElementClasses = new List<string> { "page-link" },
            UlElementClasses = new List<string> { "pagination" }
        })
        <a href="/Heading/AddHeading/" class="btn btn-outline-secondary mb-3 align-items-sm-end">Yeni Başlık</a>
    </div>
</body>
</html>


